.edit-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 41rem;

    &__btn {
        font-size: 1.5rem;
        color: $color-gray-light;
        transition: all 0.15s ease-in-out;

        &:hover,
        &:focus {
            color: $color-gray-middle;
        }
        &:active {
            transform: translateY(3px);
        }

        &.active {
            color: $color-red;
        }
    }
}
