.range-slider {
    position: relative;

    &__bar {
        height: 0.5rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: $shadow-input;
        background-color: $color-white;
    }

    &__handle-container {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 50;
    }

    &__handle {
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;

        height: 1.8rem;
        width: 1.8rem;
        background: $color-primary;
        border-radius: 50%;

        transition: all 80ms $ease-bounce;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &:active {
            transform: translate(-50%, -50%) scale(0.8);
            background-color: lighten($color-primary, 15%);
        }
    }

    &__selected-range {
        position: absolute;
        height: 0.6rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-primary;
        z-index: 10;
    }

    &__value {
        position: absolute;
        top: -3.2rem;
        font-size: 1.4rem;
        color: $color-primary;
        height: 1.8rem;
        width: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
    }
}
