.navigation-dropdown-menu {
    background-color: $color-bg-main;
    position: absolute;
    transform: translateY(5.4rem);
    width: 25rem;
    border-radius: 1rem 0 1rem 1rem;
    right: 0;
    top: -1rem;
    height: max-content;
    box-shadow: 2px .8rem 2.8rem rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 8rem;
        border-radius: 1rem;
        top: 0;
        right: 0;
        height: 20rem;
        color: $color-bg-main;
    }

    ul {
        color: $color-primary;
        height: 100%;
        font-size: 1.6rem;

        .navigation-dropdown-menu__user {
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            cursor: pointer;

            a {
                color: $color-primary;
            }

            &:hover {
                background-color: $color-primary;
                a {
                    color: $color-bg-main;
                }
            }
        }
    }
}
