.view-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    
    &__icon {
        position: relative;
        cursor: pointer;
        transition: transform 0.15s ease-in-out;

        svg {
            height: 29px;
            width: 48px;
        }

        rect {
            transition: all 0.25s ease-in-out;
        }

        &:active {
            transform: translateY(3px);
        }
    }

    .small-tile-view-icon,
    .big-tile-view-icon {
        &.active {
            rect {
                stroke: $color-gray-dark;
            }
        }

        &:hover {
            rect {
                stroke: $color-gray-dark;
            }
        }
    }

    .list-view-icon {
        &.active {
            rect {
                fill: $color-gray-dark;
            }
        }
        &:hover {
            rect {
                fill: $color-gray-dark;
            }
        }
    }
}
