.exposition--big-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    .tile {
        height: 42rem;

        &__image {
            img {
                height: unset;
                width: 100%;
            }

            &::after {
                content: '';
                background: linear-gradient(0deg, #f3f3f3 30.92%, rgba(196, 196, 196, 0) 47.59%);
                height: 116%;
                width: 100%;
                transform: unset;
            }
        }

        &__content {
            position: relative;
            flex-direction: column-reverse;
            padding: 2rem;
            margin-top: auto;
            margin-left: unset;
            height: max-content;
        }

        &__headers {
            h4 {
                font-size: 3.1rem;
            }

            h5 {
                margin-left: 25%;
            }
        }

        &__days {
            flex-direction: row;
            height: unset;
            padding: unset;

            & > div {
                align-items: baseline;
            }
            & > div > span {
                font-size: 1.2rem;
            }
        }

        &__stats {
            margin-top: 2rem;
        }

        &__alerts {
            position: absolute;
            top: 0;
            width: unset;
        }

        &__menu {
            flex-direction: column;

            .line-separator {
                height: 1px;
                width: 80%;
            }
        }

        &__button-container {
            justify-content: space-evenly;
            align-items: center;
            transition: transform 0.1s ease-in-out;
            flex-direction: row;

            span {
                font-size: 2rem;
                margin-bottom: unset;
            }

            svg {
                width: 7rem;
                height: 7rem;
            }
        }

        &__button-block {
            flex-basis: calc(100% / 3);
            width: 100%;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: $color-off-white;
            }

            &:active {
                .tile__button-container {
                    transform: translateY(3px);
                }
            }
        }
    }
}

.exposition--big-tile .tile.danger {
    .tile {
        &__image {
            &::after {
                background: linear-gradient(0deg, $color-red 30.92%, rgba(196, 196, 196, 0) 47.59%);
            }
        }

        &__danger-icon {
            right: 1.5rem;
            top: 2rem;
        }
    }
}
