.dashboard-exposition {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 14rem;

    & > h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    & > h4 {
        font-size: 1.4rem;
        color: $color-gray-middle-lighter;
        margin-top: 1.5rem;
        width: max-content;
        max-width: 60rem;
    }
}

.exposition {
    margin-top: 4rem;
}

.tile {
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: $color-bg-main;
    box-shadow: 2px 0.9rem 6.9rem rgba(0, 0, 0, 0.16);
    border-radius: 2.6rem;
}
