$color-primary: #57ad79;
$color-bg-main: #f3f3f3;

$color-gray-middle: #585858;
$color-red: #eb4a4a;

$font-primary: 'Nunito', sans-serif;
$font-logotype: 'Patua One', serif;

$navigation-bar-height: 54px;
