$color-primary: #57ad79;
$color-bg-main: #f3f3f3;
$color-white: #ffffff;
$color-off-white: #f5f5f5;
$color-gray-light: #c4c4c4;
$color-gray-middle-lighter: #989898;
$color-gray-middle: #585858;
$color-gray-dark: #424242;
$color-red: #eb4a4a;

$font-primary: 'Nunito', sans-serif;
$font-logotype: 'Patua One', serif;

$navigation-bar-height: 5.4rem;

$shadow-input: 0 0.4rem 1.1rem rgba(124, 122, 122, 0.26);

$ease-bounce: cubic-bezier(0.64, 0.57, 0.67, 1.53);
