.fade-enter-active,
.fade-leave-active {
    transition: opacity 300ms ease-in-out 15ms;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-group-enter-active, .fade-group-leave-active, .fade-group-move-active {
    transition: opacity .2s;
  }
  .fade-group-enter, .fade-group-leave-to, .fade-group-move{
    opacity: 0;
  }

  .fade-group-enter-active {
    transition-delay: .2s;
  }
  