h1,
h2,
h3,
h4,
h5,
p,
span,
article,
a,
ol,
ul,
li {
	font-family: $font-primary;
}

.logotype {
	margin: 3rem;
	display: flex;
	flex-direction: column;
	position: relative;

	&__base {
		font-family: $font-logotype;
		color: $color-bg-main;
		font-size: 4.8rem;
	}

	&__phrase {
		font-family: $font-logotype;
		color: $color-bg-main;
		font-size: 1.3rem;
		width: max-content;
		position: absolute;
		bottom: -1.2rem;
		right: -1.5rem;
	}
}
