.line-separator {
    background-color: #d8d8d8;

    &--vertical {
        height: 3.2rem;
        width: 1px;
    }

    &--horizontal {
        height: 1px;
        width: 100%;
    }
}

.relative {
    position: relative;
}

.margin-top-medium {
    margin-top: 5rem;
}

.button-primary {
    padding: 1rem 4rem;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 1.2rem;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: lighten($color-primary, 15);
    }

    &:active {
        transform: translateY(4px);
    }

    &--danger {
        background-color: $color-red;

        &:hover {
            background-color: lighten($color-red, 15);
        }
    }

    &--transparent {
        background: transparent;

        &:hover {
            background-color: #eae9e9;
        }
    }
}
