.line-separator {
    background-color: $color-gray-light;

    &--vertical {
        height: 3.2rem;
        width: 1px;
    }

    &--horizontal {
        height: 1px;
        width: 100%;
    }
}

.relative {
    position: relative;
}