.line-separator {
    background-color: #d8d8d8;

    &--vertical {
        height: 3.2rem;
        width: 1px;
    }

    &--horizontal {
        height: 1px;
        width: 100%;
    }
}

.relative {
    position: relative;
}

.margin-top-medium {
    margin-top: 5rem;
}
