.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: 50rem;
    background: $color-white;
    border-radius: 2rem;
    box-shadow: 0 10px 65px rgba(0, 0, 0, 0.1);
    z-index: $z-index-modal + 10;

    &__wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__close-area {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z-index-modal;
        background: rgba(0, 0, 0, 0.5);
    }

    &--invalid-form {
        .modal {
            justify-content: space-evenly;
            height: 27rem;
            width: 43rem;
            flex-direction: column;

            p {
                font-size: 1.6rem;
                margin-top: 2rem;
                color: $color-gray-middle;
            }
        }
    }

    &--accept-action {
        .modal {
            flex-direction: column;
            height: 25rem;
            width: 38rem;

            p {
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 4rem;
            }

            &__button-container {
                display: flex;

                :first-child {
                    margin-right: 4rem;
                }
            }
        }
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

