.sort-by-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 25rem;

    &__label {
        font-size: 1.5rem;
        color: $color-gray-middle;
    }
}

.dropdown {
    position: relative;
    width: 18rem;

    &:hover > &__select-box {
        opacity: 1;
        pointer-events: all;
    }

    &__selected {
        width: 100%;
        height: 3rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-size: 1.5rem;
        background-color: $color-white;

        box-shadow: 0 0.4rem 1.1rem rgba(124, 122, 122, 0.26);
    }

    &__select-box {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        border-radius: 1rem;
        width: 100%;
        background-color: $color-white;
        overflow: hidden;
        top: 0;
        height: max-content;
        transition: opacity 0.15s ease-in-out;
    }

    &__option {
        height: max-content;
        transition: all 0.15s ease-in-out;

        &:hover {
            background-color: lighten($color: $color-primary, $amount: 15);
            color: $color-white;
        }

        input {
            visibility: hidden;
            position: absolute;
            margin: 0;
            transition: all 0.15s ease-in-out;
        }

        label {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            font-size: 1.5rem;
            cursor: pointer;
        }

        input:checked + label {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}
