.welcome-wrapper {
    background-color: $color-primary;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    position: relative;
}
