.navigation-bar {
    background-color: $color-primary;
    height: $navigation-bar-height;
    width: 100%;
    padding: 0 45px 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logotype {
        margin: 0;
        &__base {
            width: max-content;
        }
    }
}
